.login{
    background-image: url(../../../assets/log-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.log-info{
    background-color: rgba(240, 248, 255, 0.26);
    padding: 50px;
}
input:focus{
    outline: none;
}
label{
    font-weight: 500;
    font-size: 18px;
    color: rgb(16, 16, 16);
}
input{
    width: 400px;
    padding: 10px;
    margin: 20px 0;
}
.log-info button{
    padding: 10px 60px ;
}
.sign-btn button{
    margin: 10px 0;
    width: 100%;
}
.redirect p a {
    text-decoration: none;
    color: #dc3545;
}