.user{ 
    width: 20p;
}
.user img{
    width: 40px;
    object-fit: cover;
    margin: 0 20px;
}
.user-btn{
    background-color: #dc3545;
}
.user-btn a{
    text-decoration: none;
    color: aliceblue;
}
.menu a {
    text-decoration:  none;
    font-size: 18px;
    font-weight: 500;
    color: aliceblue !important;
}
menu.default{
    color: blueviolet;
}
menu.active.active{
    color: #dc3545 !important;
}
.active{
    color: #dc3545 !important;
}